<%= render 'onsens/region-nav' %>

<div class="room">
  <h1 class="room-title"><%= @onsen.name %>の掲示板</h1>

  <div class="messages">
    <% @messages.each_with_index do |message, index| %>
      <div class="message-container" id="message-<%= message.id %>">
        <div class="user-info">
          <span class="message-number">
            <a href="#" class="reply-link" data-message-id="<%= message.id %>" data-message-number="<%= @start_index + index %>" data-message-content="<%= message.content %>">
              #<%= @start_index + index %>
            </a>
          </span>
          <% if message.user.avatar.attached? %>
            <%= image_tag message.user.avatar, class: "user-icon" %>
          <% else %>
            <%= image_tag 'default_avatar.png', class: "user-icon" %>
          <% end %>
          <div class="user-details">
            <span class="user-name"><%= message.user.name %></span>
            <span class="message-time"><%= message.created_at.strftime("%Y/%m/%d %H:%M") %></span>
          </div>
            <% if message.user == current_user %>
              <%= link_to '編集', edit_message_onsen_room_path(@onsen, message), class: 'edit-button' %>
            <% end %>
        </div>

        <div class="message-content">
          <% if message.parent_message_id.present? %>
            <% parent_message = Message.find_by(id: message.parent_message_id) %>
            <% if parent_message %>
              <% parent_message_index = @messages.find_index { |m| m.id == parent_message.id } %>
              <% if parent_message_index.present? %>
                <div class="reply-to">
                  返信先:
                  <a href="<%= onsen_room_path(@onsen, page: params[:page], parent_message_id: parent_message.id) %>#message-<%= parent_message.id %>">
                    #<%= @start_index + parent_message_index %>
                  </a>
                  「<%= truncate(parent_message.content, length: 50) %>」
                </div>
              <% else %>
                <div class="reply-to">
                  返信先: (メッセージが見つかりません)
                </div>
              <% end %>
            <% end %>
          <% end %>

          <div class="bubble">
            <%= message.content %>
            <% if message.image.attached? %>
              <div class="message-image">
                <%= image_tag message.image, class: "uploaded-image" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="pagination">
      <%= paginate @messages %>
    </div>
  </div>

  <div class="message-form">
    <%= form_with(model: @message, url: onsen_room_path(@onsen), html: { multipart: true }, class: "message-input") do |f| %>
      <%= hidden_field_tag :parent_message_id, nil, id: "parent_message_id" %>

      <div class="reply-info" id="reply-info" style="display: none;">
        >> <span id="reply-target"></span> <button type="button" class="clear-reply">×</button>
      </div>

      <div class="form-elements">
        <%= f.text_area :content, class: "message-textarea", placeholder: "メッセージを入力..." %>

        <label for="image-upload" class="image-upload-label">
          <i class="fa-solid fa-image"></i>
        </label>
        <%= f.file_field :image, id: "image-upload", class: "d-none" %>

        <%= f.submit '送信', class: "message-submit" %>
      </div>
    <% end %>
  </div>
</div>
