<!DOCTYPE html>

<html lang="ja">
<body class="<%= 'signed-in' if user_signed_in? %>">

    <%= render 'layouts/head' %>

    <%= render 'layouts/nav' %>
    
    <%= render 'layouts/flash_messages' %>
    
    <%= yield %>
    
    <footer class="footer">
      <%= render 'layouts/footer' %> 
    </footer>

  </body>
</html>
